@import "../variables";

.section-about {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    width: 100%;

    .div-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .div-span span {
            color: getColor("text", "darkBlue");
            font: 500 1em $fontSecondary;
            text-transform: uppercase;
            letter-spacing: 5px;
            border: 0.5px solid getColor("text", "lightGray");
            border-radius: 35px;
            padding: 10px;
        }

        .div-title h1 {
            color: getColor("text", "veryDarkBlue");
            font: 700 normal 3.5em $fontPrimary;

            span {
                background-color: getColor("text", "darkBlue");
                border-radius: 100%;
                width: 1em;
                height: 1em;
                display: inline-block;
            }
        }

        .div-paragraph p {
            color: getColor("text", "gray");
            font: 400 normal 1.2em $fontSecondary;
            line-height: 1.5em;
        }

        .div-container-card {
            display: flex;
            align-items: center;
            gap: 5%;

            .div-card {
                border: 1px solid getColor("text", "lightGray");
                border-radius: 50px;
                padding: 35px;
                width: 44%;
                height: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;

                    .div-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: getColor("text", "darkBlue");                    
                        border-radius: 100%;
                        width: 10%;
                        height: 2.5em;
                
                        .icon {
                            color: getColor("text", "white");
                            font-size: 1.5em;
                        }
                    }

                    h2 {
                        color: getColor("text", "veryDarkBlue");
                        font: 600 normal 1.7em $fontPrimary;
                    }

                    p {
                        color: getColor("text", "gray");
                        font: 400 normal 1em $fontSecondary;
                        text-wrap: nowrap;
                    }
                }
            }
        }
    }
}